<plugin name='powertac-db-stuff' version='0.3.0' grailsVersion='1.3 &gt; *'>
  <author>Joshua Burnett</author>
  <authorEmail>joshua at 9ci com</authorEmail>
  <title>db schema managment and data import/export. Generate generic schema files and import or export base/seed/test data into your database.</title>
  <description>		Based on DdlUtils from the Apache DB Project http://db.apache.org. 
		Keeps the schema in a generic xml file that can then be used to creates the db schema in any of the 
		supported databases. Data can also be extrernalized in files and then loaded via a grails script or at application startup.
		Load base/seed data into you database. Store/export the data in xml and this will load the database with your applications base records
		This can and is used for integration testing.
		This is also used for populating a databse with its neccesary records to do an initial install. 
		We use it to load tables like configuration params, ACL, acegi requestmaps etc..
		Works with Hsqldb,MsSql,MySql,Oracle,db2 and others that DdlUtils supports
	</description>
  <documentation>http://grails.org/DbStuff+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>